@media screen and (min-width: 768px) {
  .features-list__item {
    --grid__item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    --grid__item: 4;
  }
}

.features-list__item::before {
  display: block;
  content: '';
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-position: center;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

@each $features in antenna, clock, diagram, astronaut {
  .#{$features}-icon::before {
    background-image: url('../img/features/#{$features}.svg');
  }
}

.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.features__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

// .features-list__item--icon-antenna::before {
//   content: '';
//   background-image: url(../img/features/antenna.svg);
// }

// .features-list__item--icon-clock::before {
//   content: '';
//   background-image: url(../img/features/clock.svg);
// }

// .features-list__item--icon-diagram::before {
//   content: '';
//   background-image: url(../img/features/diagram.svg);
// }

// .features-list__item--icon-astronaut::before {
//   content: '';
//   background-image: url(../img/features/astronaut.svg);
// }
