.footer {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark);
}

.footer-box {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// .footer__wrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
// }

// .footer__wrapper {
//   display: flex;
// }

// .footer-contacts--grid {
//   display: inline-block;
//   flex-basis: calc((50%-45px) / 2);
// }
.footer-contacts__logo {
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
}

.footer-contacts__logo--white {
  color: var(--address-color);
}

.footer-contacts__address {
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  color: var(--address-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-logo-color);
  }
}

.footer-contacts__info {
  display: block;
  font-family: inherit;
  font-style: normal;
  line-height: 1.71;
  color: var(--contact-list__link-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &:hover,
  &:focus {
    color: var(--primary-logo-color);
  }
}
