.gallery-cards-item {
  --grid__item: 1;
  @media screen and (min-width: 768px) {
    --grid__item: 2;
  }
  @media screen and (min-width: 1200px) {
    --grid__item: 3;
  }

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.gallery-cards-item {
  display: flex;
  align-items: stretch;
}

// &:hover .gallery-cards-item__thumb::before,
// &:hover .gallery-cards-item__thumb--hidden-text {
//   transform: translateY(0);
//   opacity: 1;
// }

// .gallery-cards-item__link:focus .gallery-cards-item__thumb::before,
// .gallery-cards-item__link:focus .gallery-cards-item__thumb--hidden-text {
//   transform: translateY(0);
//   opacity: 1;
// }

.gallery-cards-item__thumb::before,
.gallery-cards-item__thumb--hidden-text {
  .gallery-cards-item:hover & {
    transform: translateY(0);
    opacity: 1;
  }
  .gallery-cards-item__link:focus & {
    transform: translateY(0);
    opacity: 1;
  }
}

.gallery-cards-item__link {
  border: 1px solid #eeeeee;
}

.gallery-cards-item__meta {
  padding: 20px 24px;
  // border: 1px solid #eeeeee;
  background: var(--address-color);
}

.gallery-cards-item__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.gallery-cards-item__product {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.gallery-cards-item__thumb {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.gallery-cards-item__thumb--hidden-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--address-color);
}

/* .gallery-cards-item__thumb--hidden-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--address-color);
}

.gallery-cards-item:hover .gallery-cards-item__thumb--hidden-text,
.gallery-cards-item__link:focus .gallery-cards-item__thumb--hidden-text {
  transform: translateY(0);
  opacity: 1;
} */
