.hero {
  height: 600px;
  padding: 200px 0;
  background-color: var(--background-dark);
  text-align: center;
}

.hero--background {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/hero.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: to left;
  background-size: cover;
}

.hero__title {
  display: flex;

  margin: 0 auto 30px auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.67;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--address-color);
}
