.contact-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    flex-direction: column;
    // margin-left: 84px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-list__link {
  @media screen and (min-width: 768px) {
    font-family: inherit;
    font-weight: 500;
    color: var(--secondary-text-color);
    text-decoration: none;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      color: var(--primary-logo-color);
      // justify-content: flex-end;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: currentColor;
  }
}
