.contact-list {
  display: flex;
  margin-left: auto;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: inherit;
  font-weight: 500;
  color: var(--secondary-text-color);
  text-decoration: none;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: var(--primary-logo-color);
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: currentColor;
  }
}
