.form-wrapper {
  display: flex;
  flex-basis: calc(50%-15px);
}

.footer-form {
  width: 570px;
}

.footer-form--flex {
  display: flex;
}

.footer-form__input {
  min-width: 358px;
  min-height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-dark);
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;

  &:hover,
  &:focus {
    background-color: var(--primary-logo-color);
  }
}

.footer-form-button__icon {
  margin-left: 10px;
  fill: var(--address-color);
}
