.menu {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  background-color: var(--address-color);
  height: 100vh;
  width: 100vw;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // overflow: scroll;
}

.menu__list {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.menu-nav__item {
  font-size: 40px;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-nav__item-link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.menu-nav__item-link--current {
  color: var(--primary-logo-color);
}

.menu-contacts {
  margin-bottom: 64px;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__item-link--tel {
  font-size: 34px;
  color: var(--primary-logo-color);
}

.menu-contacts__item-link--mail {
  font-size: 24px;
  color: var(--secondary-text-color);
}

.menu-social__item-link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-logo-color);
}

.menu-social {
  display: flex;
  align-items: center;
  // Если убрать wrap, то добавим скрол
  flex-wrap: wrap;
}

.menu-open-button {
  background-color: var(--address-color);
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-open__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .menu-open-button:hover &,
  .menu-open-button:focus & {
    fill: var(--primary-logo-color);
  }
}

.menu-close-button {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 15px;
  background-color: var(--address-color);
  border: none;
}

.menu-close__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .menu-close-button:hover &,
  .menu-close-button:focus & {
    fill: var(--primary-logo-color);
  }
}

.menu-social__item:not(:last-child) {
  margin-right: 10px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    display: block;
    right: -16px;
    bottom: 50%;
    width: 22px;
    background: rgba(33, 33, 33, 0.2);
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.menu.is-hidden {
  display: none;
}
