.modal-form {
  // display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 0.96;
  text-align: center;
  color: var(--secondary-logo-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field--flex {
  display: flex;
  flex-direction: column;
}

.form-field__label {
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-field__input {
  // width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--primary-logo-color);
    outline: var(--primary-logo-color);
  }
}
// &:hover + .form-field__icon,
// &:focus + .form-field__icon {
//   fill: var(--primary-logo-color);
// }

/* .form-field__input:focus-within {
  outline: var(--primary-logo-color);
} */

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input--size {
  // width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  letter-spacing: 0.01em;

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.form-checkbox__input {
  appearance: none;

  &:checked + .form-checkbox__icon {
    border: none;
    background-color: var(--primary-logo-color);
  }
}

.form-checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  fill: var(--address-color);
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox__link {
  color: var(--primary-logo-color);
  margin-left: 3px;
}

.form-button {
  margin: 0 auto;
}
