.navigation-section {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: inherit;
  font-weight: 500;
  color: var(--primary-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: var(--primary-logo-color);
  }
}

.navigation-list__link--current {
  color: var(--primary-logo-color);

  &::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--primary-logo-color);
    border-radius: 2px;
    margin-top: 28px;
  }
}
