.social {
  display: inline-flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--address-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--primary-logo-color);
  }
}

// &:hover .social__icon,
// &:focus .social__icon {
//   fill: var(--address-color);
// }

.social__icon {
  .social__link:hover &,
  .social__link:focus & {
    fill: var(--address-color);
  }
}
