:root {
  --background-dark: #2f303a;
  --background-grey-btn-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-logo-color: #2196f3;
  --secondary-logo-color: #000000;
  --contact-list__link-color: rgba(255, 255, 255, 0.6);
  --address-color: #ffffff;
  --grid__item: 4;
}
